.navbar {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; /* ensures it appears above the slider */
}
.navbar .nav-link {
  color: white !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #e2e8f0 !important;
}

.navbar-brand {
  color: white !important;
  font-weight: 600;
}
