.fixed-height-img {
  height: 180px;
  object-fit: cover;
}

.explore-btn {
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #218838;
}

.footer-link {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}
